<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="/" class="logo-link">
                <span class="logo-text">VΛULT</span>
            </a>
            <p class="copyright">© 2026 Vault Company, Inc. All rights reserved.</p>
        </div>

        <nav class="social-media">
            <a href="https://www.instagram.com/bv.aliim" target="_blank" rel="noopener noreferrer">Instagram</a>
            <a href="https://t.me/rrimski" target="_blank" rel="noopener noreferrer">Telegram</a>
        </nav>
    </div>
</footer>